em{
    color:blue;
}

.panel{
    border: solid 1px rgb(228, 228, 228);
    margin: 15px;
    border-radius: 5px;
}

.panel-heading{
    padding: 10px;
    border-bottom:solid 1px rgb(228, 228, 228);

}

.panel-body{
    padding:10px;
}

.server-element{
    border: solid 1px rgb(211, 63, 63);
    border-radius: 5px;
    padding: 15px;
}

.server-element strong{
    color: rgb(211, 63, 63);
}