<hr>

<h2>Exercice : Liaisons de données</h2>

<label for="">Nom utilisateur</label>

<input type="text" class="form-control" [(ngModel)]="userName">

<p>{{ userName }}</p>

<button class="btn btn-primary" [disabled]="userName === ''" (click)="deleteUserName()">Effacer</button>


<hr>

<h2>Exercice : Les directives</h2>

<button class="btn btn-primary" (click)="displaySecretContent()">Afficher les détails</button>

<p *ngIf="secretContent; else noSecret">Secret password = tuna</p>

<ng-template #noSecret><p></p></ng-template>

<p 
*ngFor="let log of logClickNumber"
[ngClass]="{'supCinq': log >= 5}"
[ngStyle]="{backgroundColor: log >= 5 ? 'blue' : 'transparent'}">
    {{ log }} 
</p><!--Ici logClickNumber est un tableau, chaque element du tableau est un log-->
<!-- exemple plus concret : let book of booklist -->

<hr>

<h2>Exercice : séparer l'app en composants</h2>


<app-cockpit (serverCreated)="addServer($event)" (serverCreatedBlue)="addServerBlue($event)"></app-cockpit>
<br>

<button class="btn btn-warning" (click)="onChangeFirst()">Change the first server</button>

<button class="btn btn-danger" (click)="onDestroyFirst()">Delete the frist server</button>

<app-server-element *ngFor="let serverNC of serverNCs" [serv]="serverNC" [name]="serverNC.name">
    <p *ngIf="serverNC.type === 'serverNormal'" style="color:red;">{{ serverNC.content }}</p>
    <em *ngIf="serverNC.type === 'serverBlue'">{{ serverNC.content }}</em>
</app-server-element> 
<!-- La propriété [serv] est issue du server-element.ts via @Input qui permet de la recuperer en dehors de son composant et donc ici-->
