<hr>

<h2>Exercice : Liaisons de données</h2>

<label for="">Nom utilisateur</label>

<input type="text" class="form-control" [(ngModel)]="userName">

<p>{{ userName }}</p>

<button class="btn btn-primary" [disabled]="userName === ''" (click)="deleteUserName()">Effacer</button>


<hr>

<h2>Exercice : Les directives</h2>

<button class="btn btn-primary" (click)="displaySecretContent()">Afficher les détails</button>

<p *ngIf="secretContent; else noSecret">Secret password = tuna</p>

<ng-template #noSecret><p></p></ng-template>

<p 
*ngFor="let log of logClickNumber"
[ngClass]="{'supCinq': log >= 5}"
[ngStyle]="{backgroundColor: log >= 5 ? 'blue' : 'transparent'}">
    {{ log }} 
</p><!--Ici logClickNumber est un tableau, chaque element du tableau est un log-->
<!-- exemple plus concret : let book of booklist -->

<hr>

<h2>Exercice : séparer l'app en composants</h2>


<app-cockpit></app-cockpit>
<app-server-element *ngFor="let serv of serverNC" [serv]="serv"></app-server-element>
